<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--Load the formatting.css file for formatting, subject to change-->  
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='formatting.css') }}">
  <title>Home</title>
   <!--Current styling in addition to the css linked above, subject to change-->
  <style>
        body {
          margin: 0;
        }
  
        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      </style>
</head>

<body>
  <!--Top navigation bar and corresponding buttons-->
  <div class="topnav">
      <a class="active" href={{url_for('home')}}>Home</a>
      <a type="button" href={{url_for('library')}}>Social Story Library</a>
      <a type="button" href={{url_for('uploads')}}> Upload A Social Story</a>
      <a type="button" href={{url_for('howTo')}}> How To Create A Social Story</a>
      <a type="button" href={{url_for('resourcesPage')}}>Additional Resources</a>
  </div>
  <h1>Welcome to Corin Magee's Social Story Collection!</h1>
  <br>
  <h2>What is a Social Story? </h2>
  <p> Social stories/narratives are traditionally written and illustrated first- or third-person stories
     that inform the reader of the future events, expectations, rules, and potential triggers of the 
     experience described by the story.  Below is an example that will show you how to use a social story to get ready to try something new!</p>
     <br>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/Ire6Wk9rNRg" title="YouTube video player" 
     frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  <br>
  <h2>About Our Collection:</h2>
  <p>This is the landing site for Corin Magee's senior capstone for Minerva University 2022-2023. 
      The purpose of this project is to compile a consolidated resource for learning about social stories,
      accessing pre-made social stories in one library, and a guide to creating your own social stories.</p>
  <br>
  <h2>How to use the cite:</h2>
  <p><i>[Insert a video guide to the website here]</i></p>
</body>