<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--Load the formatting.css file for formatting, subject to change-->  
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='formatting.css') }}">
  <title>HowTo</title>
   <!--Current styling in addition to the css linked above, subject to change-->
  <style>
        body {
          margin: 5%;
        }
  
        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      </style>
</head>

<body>
  <!--Top navigation bar and corresponding buttons-->
  <div class="topnav">
    <a type="button" href={{url_for('home')}}>Home</a>
    <a type="button" href={{url_for('library')}}>Social Story Library</a>
    <a type="button" href={{url_for('uploads')}}> Upload A Social Story</a>
    <a class="active" href={{url_for('howTo')}}> How To Create A Social Story</a>
    <a type="button" href={{url_for('resourcesPage')}}>Additional Resources</a>
  </div>
  <!--My instructions to make social stories--> 
  <h1>Corin's Guidelines for Making a Video Social Story</h1>
  <h2>Before Writing Your Script:</h2>
  <ul>
      <li> Have a clear goal in mind. This goal should be summarizable as an “I statement” to put at the end of the social story. 
            <ul><li> Ex: “I am prepared to go to the _______.”, “I know what to do if/when ______.”, “When I feel _____ I can _______.”, “Today I am going to do/go ______”</li></ul></li>
      <li> Since we are doing video formats, pick a model. They will go through the actions, peers are preferred but anyone can do it, including puppets or dolls, although human is best. </li>
      <li> Figure out where and what you need in order to film. Are there any key props to interact with? Or is the story location specific? Do you need an additional person to model others’ behaviors in a situation?</li>
      <li> Decide if you are writing a first-person narrative or third-person.  
        <ul><li> A first-person narrative is better if you are having the model narrate the social story as they take action in during the video. Ex: The model turns to the camera and says“Next, I am walking walk up to the counter” Then turns away from the camera and walks up to the counter. </li></ul>
        <ul><li> A third-person narrative is better if you are using voiceover on top of your model going through the steps. Ex: voiceover says “next Corin walks up to the counter” while the video shows the model walking to the counter concurrently. </li></ul></li>
      <li> Keep your tenses consistent. If you are using a present-tense first-person narrator with your model keep that up for the whole video “I am doing ___” or if you are going future tense. It doesn’t matter, just keep it consistent.</li> 
      </ul>
  <br>
  <h2>Writing/Outlining Your Script:</h2>
  <ul>
    <li>Start with an intro: “I am _____ and today I am going to show you _______.” </li>
    <li> Clearly show and describe your surroundings. “I am at _____. Here is the ___, the ___, etc.” </li>
    <li> If there are any specific large sensory triggers in the environment, point them out, such as buzzing lights or loud construction noises in a calm fashion with potential tips.
        <ul><li> Ex: “There is construction on the walk to the store, this can be a bit loud for Corin. As a result, she brings her headphones just in case it gets too loud.”</li></ul></li>
    <li> Once the location is established, go through the procedure of whatever action you are trying to demonstrate, In the video, you should have the demonstrator narrate what they are about to do and then show them doing it. Go through the steps sequentially and thoroughly, we suggest the following pattern/loop (with an example of buying a ticket):
        <ul><li> What action needs to be taken? Ex: “Next Corin will walk up to the ticket counter”</li>
        <li> What actions will others take? Ex: “The employee will likely say Hi to me and ask what they can get for me today?”</li>
        <li> How do I respond to others? Ex: “I will tell them how many tickets I want for what show?”</li></ul></li>
    <li>Repeat this general structure until the goal is reached. </li>
    <li> Summarize the steps at the end of the video. These should be a simplified version of the steps and limited to 5 at most.
        <ul><li> For example, if seeing a show: “Get tickets at Will Call, Find Seats with the help of the Ushers, Sit and quietly enjoy the show, Go home”. </li></ul></li>
    </ul>    
  <h2>Filming and Editing the Video:</h2>
  <ul>
    <li> Keep it simple. Avoid any special effects, background noise, bright font colors, flashy transitions, etc. </li>
    <li> Keep the camera as steady as possible, and as continuous as reasonable (no fancy jump cuts, etc.) You want to make it as close to the real experience as possible. </li>
    <li> A potential suggestion is to just follow your demonstrator in camera motion to make it similar to first-person (so treat the camera like someone following the demonstrator as they move). </li>
    <li> Pair what is heard with what is shown, either by having your model say the next steps or by having a voice-over/narrator explain the step and then having the model show it. </li>
  </ul>
  <h1>Templates:</h1>
  <p>Here is a template you can use to organize your social story using the instructions above: <a href="https://docs.google.com/document/d/1uv3EvUY1YcNtlq-P8Fgp4wAu2cXzH6gKI8j9QdJlwBU/edit?usp=sharing"> Printable Template</a>. This template can be printed and written on or you can make a copy of the document and fill it out online.</p>
  <p>Here is an example of what the template would look like filled out: <a href="https://docs.google.com/document/d/1Y9au0n9ZhJOSOVQ2BH3y6RrpPVMM3o7m9A2xtfNSidQ/edit?usp=sharing">Completed Template Example </a></p>
</body>
</html>