<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Load the formatting.css file for formatting, subject to change-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='formatting.css') }}">
    <title>Library</title>
    <!--Current styling in addition to the css linked above, subject to change-->
    <style>
        body {
          margin: 0;
        }
  
        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      </style>
</head>

<body>
  <!--Top navigation bar and corresponding buttons-->
  <div class="topnav">
    <a type="button" href={{url_for('home')}}>Home</a>
    <a class="active" href={{url_for('library')}}>Social Story Library</a>
    <a type="button" href={{url_for('uploads')}}> Upload A Social Story</a>
    <a type="button" href={{url_for('howTo')}}> How To Create A Social Story</a>
    <a type="button" href={{url_for('resourcesPage')}}>Additional Resources</a>
  </div>
  <!--Create the search and filter bar to take user inputs as a single form-->
  <form method ="POST" action="/filterSearch" enctype="multipart/form-data">
    <!--Search bar-->
    <label for="searchterm">Search Stories:</label>
    <input type="text" id="searchterm" name="searchterm">
    <!--Filter by category-->
    <select name="category-filter"  id="category-filter">
      <option value="all">Show All</option>
      <option value="school">School</option>
      <option values="medical">Medical</option>
      <option values="errands">Errands</option>
      <option values="emotReg">Emotional Regulation</option>
      <option values="jobPrep">Job Preparation</option>
      <option values="entertainment">Entertainment</option>
    </select>
    <!--Filter by audience-->
    <select name="audience-filter"  id="audience-filter">
      <option value="all">All Ages</option>
      <option value="preschool">Preschool (0-4)</option>
      <option value="elementary">Elementary (5-10)</option>
      <option value="preteen">Preteen (11-14)</option>
      <option value="teenager">Teenager (15-18)</option>
      <option value="youngAdult">Young Adult (18-25)</option>
      <option value="adult">Adult(26-60)</option>
      <option value="senior">Senior (60+)</option>
    </select>
    <button type="submit">Search and Update Filters</button>
  </form>

  <!--Display the videos passed into the vids list upon loading
  vid[0]=name, vid[1] = author, vid[2] = url, vid[3] = description -->
  <div class="videoDisplays">
      {% for vid in vids %}
        <label>{{vid[0]}}</label>
        <label>by: {{vid[1]}}</label><br>
        <iframe width="420" height="315"
        src="{{vid[2]}}">
        </iframe><br>
        {{vid[3]}}<br>
        -----------------<br>
      {% endfor %}
   </div>
</body>
</html>