<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Load the formatting.css file for formatting, subject to change-->  
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='formatting.css') }}">
    <title>Upload Video</title>
     <!--Current styling in addition to the css linked above, subject to change-->
    <style>
        body {
          margin: 0;
        }
  
        .center {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      </style>
      <script type="text/javascript">

        function select_all(){

          var checkboxes = document.getElementsByName('approve[]');
          var button = document.getElementById('toggle');

          if(button.value == 'Select All Audiences'){
              for (var i in checkboxes){
                  checkboxes[i].checked = 'FALSE';
              }
              button.value = 'Deselect All'
          }else{
              for (var i in checkboxes){
                  checkboxes[i].checked = '';
              }
              button.value = 'Select All Audiences';
          }
    }
</script>
</head>
<body>
    <!--Top navigation bar and corresponding buttons--> 
    <div class="topnav">
      <a type="button" href={{url_for('home')}}>Home</a>
      <a type="button" href={{url_for('library')}}>Social Story Library</a>
      <a class="active" href={{url_for('uploads')}}> Upload A Social Story</a>
      <a type="button" href={{url_for('howTo')}}> How To Create A Social Story</a>
      <a type="button" href={{url_for('resourcesPage')}}>Additional Resources</a>
    </div>
    <!--If an error is thrown during upload, allow for flashed messages-->
    {% block content %}
    <div class="pop-up">
        {% for message in get_flashed_messages() %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ message }}
            {{ get_flashed_messages().remove(message)}}
        </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}

    <div class="center">
      <!--Instructions for upload-->
      <p >To upload a video to the database, you first need it to be on youtube and have the link available (either public or unlisted).
      Next, fill out the form below and hit submit. </p>
    </div>
    <div class="center">
      <!--Create the form for uploading a new video-->
        <form method="POST" action="/add" enctype="multipart/form-data">
          <!--Name of the video-->
          <label for="videoName">Video Name:</label> 
          <input type="text" id="videoName" name ="videoName"><br>
          <!--Author of the video-->
          <label for="Author">Author:</label> 
          <input type="text" id="author" name ="author"><br>
          <!--URL for the video-->
          <label for="videoURL">Enter URL here:</label>
          <input type="text" id="videoURL" name="videoURL"><br>
          <!--Short description for the video-->
          <label for="description">Short Description:</label><br> 
          <textarea id="description" name ="description"></textarea><br>
          <!-- Checkbox list for the audience level of the video-->
          <label>Audience level:</label><br>
          <input type="button" id="toggle" value="Select All Audiences" onClick="select_all()" /><br>
          <input type="checkbox" name="approve[]" id ="audience" value="preschool" /><label>Preschool</label><br>
          <input type="checkbox" name="approve[]" id ="audience"  value="elementary" /><label>Elementary</label><br>
          <input type="checkbox" name="approve[]" id ="audience" value="preteen" /><label>Preteen (11-14)</label><br>
          <input type="checkbox" name="approve[]" id ="audience"  value="teenager" /><label>Teenager (15-18)</label><br>
          <input type="checkbox" name="approve[]" id ="audience"  value="youngAdult" /><label>Young Adult (18-25)<label><br>
          <input type="checkbox" name="approve[]" id ="audience"  value="adult" /><label>Adult (25-60)<label><br>
          <input type="checkbox" name="approve[]" id ="audience"  value="senior" /><label>Senior (60+)<label><br>
          <br>
          <!--Checkbox list for the categories of the subject of the video-->
          <label>Subjects:</label><br>
            <input type="checkbox" value="school" id ="subjects" name="subjects"><label>School Related</label><br>
            <input type="checkbox" value="medical" id ="subjects" name="subjects"><label>Medical Procedure</label><br>
            <input type="checkbox" value="errands" id ="subjects" name="subjects"><label>Errands</label><br>
            <input type="checkbox" value="emotReg" id ="subjects" name="subjects"><label>Emotional Regulation</label><br>
            <input type="checkbox" value="jobPrep" id ="subjects" name="subjects"><label>Job Preparation</label><br>
            <input type="checkbox" value="dailyTasks" id ="subjects" name="subjects"><label>Daily Tasks</label><br>
            <input type="checkbox" value="entertainment" id ="subjects" name="subjects"><label>Entertainment</label><br>
          <!--Submit button to trigger /add-->
          <button type="submit">Submit</button>
        </form>

      
    </div>

</body>
</html>